<html>
    <head>
        <style>
            li.result-item:not(:last-child) {
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <h3>FIBONACCI CALCULATOR</h3>
        <b>Calculate new value:</b>
        <form method="post">
            {% csrf_token %}
            <label for="fib_number">
            <input type="number" name="number" id="number">
            <input type="submit" value="Submit">
        </form>
        <hr>
        <b>List of submitted values:</b>
        <div style="display:block; width:100%;">
            <div style="width:50%; float: left;">
                <ul>
                    {% for result in results|slice:":8" %}
                    <li class="result-item">{{ result.id }} - Started at {{ result.created|date:"r" }}
                        <ul>
                            <li>Status: {{ result.status }}</li>
                            <li>Input: {{ result.input }}</li>
                            <li>Output:
                                {% if result.result %}
                                    {{ result.result }}
                                {% elif result.status == status_error %}
                                    Undefined
                                {% else %}
                                    Calculating...
                                {% endif %}
                            </li>
                            <li>Message: {{ result.message }}
                            <li>Updated at: {{ result.modified|date:"r" }}
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div style="width:50%; float: left;">
                <ul>
                    {% for result in results|slice:"8:" %}
                        <li class="result-item">{{ result.id }} - Started at {{ result.created|date:"r" }}
                            <ul>
                                <li>Status: {{ result.status }}</li>
                                <li>Input: {{ result.input }}</li>
                                <li>Output:
                                    {% if result.result %}
                                        {{ result.result }}
                                    {% elif result.status == status_error %}
                                        Undefined
                                    {% else %}
                                        Calculating...
                                    {% endif %}
                                </li>
                                <li>Message: {{ result.message }}
                                <li>Updated at: {{ result.modified|date:"r" }}
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>